body {
  padding:0;
  margin:0;
}
#banner-container {
  height:fit-content;
}
#banner-image {
  width:100%;
}
#banner-title {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
