.banner-video {
  width:100%;
  aspect-ratio: 16 / 9;
  display:none;
}
.banner-static-container {
  aspect-ratio: 16 / 9;
  width:100%;
  margin:0;
  display:block;
}
#banner-play-button {
  position:absolute;
  left:50vw;
  top:calc(50vw * (16 / 9));
  transform: translate(-50%,-50%);
  width:10%;
}
body {
  padding:0;
  margin:0;
}
