body {
  font-family:'Big Caslon', serif;
  padding:0;
  margin:0;
}
:root {
  interpolate-size: allow-keywords;
}
#banner-container {
  color:#303030;
}
#banner-video {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  aspect-ratio: 16 / 9;
  visibility:hidden;
  opacity:0;
  transition:opacity 0.3s ease, visibility 0s ease 0.3s;
  z-index:1;
}
#banner-video.is-visible {
  opacity:1;
  visibility:visible;
  transition: opacity 0.3s ease, visibility 0s ease;
}
#banner-static-container {
  display:block;
  position:absolute;
  left:0;
  top:0;
  aspect-ratio: 16 / 9;
  width:100%;
  margin:0;
  opacity:1;
  transition:opacity 0.3s linear;
  z-index:0;
}
#banner-play-button {
  position:absolute;
  left:50vw;
  top:calc(50vw / (16 / 9));
  transform: translate(-50%,-50%);
  width:10%;
  cursor: pointer;
}
#banner-cover-image {
  width:100%;
  aspect-ratio:16 / 9;
  object-fit:cover;
  object-position:center;
}
#banner-left-container {
  letter-spacing:0.1em;
  position:absolute;
  top:0;
  left:0;
  margin:4rem;
}
#banner-logo-img {
  width:10vw;
}
#banner-right-container {
  position:absolute;
  top:0;
  right:0;
  margin:4rem;
  text-align:right;
}
#banner-right-container a {
  margin-bottom:1rem;
}
#banner-bottom-container {
  position:absolute;
  left:50vw;
  top:calc(75vw / (16 / 9));
  transform: translate(-50%,-50%);
}
#world-map {
  width:100vw;
  height: calc( 100vw / (16 / 9));
}
#world-map-container {
  position:relative;
  top: calc( 100vw / (16 / 9));
}
