body {
  font-family:'Big Caslon', serif;
  padding:0;
  margin:0;
}
:root {
  interpolate-size: allow-keywords;
}
#banner-container {
  color:#303030;
}
#banner-video {
  width:100%;
  aspect-ratio: 16 / 9;
  display:none;
}
#banner-static-container {
  aspect-ratio: 16 / 9;
  width:100%;
  margin:0;
  display:block;
}
#banner-play-button {
  position:absolute;
  left:50vw;
  top:calc(50vw / (16 / 9));
  transform: translate(-50%,-50%);
  width:10%;
  cursor: pointer;
}
#banner-cover-image {
  width:100%;
  aspect-ratio:16 / 9;
  object-fit:cover;
  object-position:center;
}
#banner-left-container {
  letter-spacing:0.1em;
  position:absolute;
  top:0;
  left:0;
  margin:4rem;
}
#banner-logo-img {
  width:10vw;
}
#banner-right-container {
  position:absolute;
  top:0;
  right:0;
  margin:4rem;
  text-align:right;
}
#banner-right-container a {
  margin-bottom:1rem;
}
#banner-bottom-container {
  position:absolute;
  left:50vw;
  top:calc(75vw / (16 / 9));
  transform: translate(-50%,-50%);
}
#banner-bottom-bar {
  width:60vw;
  height:4rem;
  background-color:white;
  border-radius:2rem;
}
#banner-bottom-bar-left-menu {
  display:inline-block;
  width:50%;
  height:100%;
  border-radius:2rem;
  background-color:white;
  overflow:hidden;
  transition:height 0.4s ease-out;
}
#banner-bottom-bar-left-menu:hover {
  height: calc(100% + ((4 * 2rem) + 1rem));
}
#banner-bottom-bar-right-menu {
  display:inline-block;
  position:absolute;
  right:0;
  top:0;
  width:50%;
  height:100%;
  border-radius:2rem;
  background-color:white;
  overflow:hidden;
  transition:height 0.4s ease-out;
}
#banner-bottom-bar-right-menu:hover {
  height: calc( 100% + 3rem);
}
.banner-bar-top {
  position:relative;
  top:2rem;
  left:3rem;
  transform: translate(0,-50%);
}
.banner-bar-drop-option {
  position:relative;
  top:3rem;
  left:3rem;
  opacity:0;
  height:2rem;
  transition:opacity 0.6s ease-in-out;
}
#banner-bottom-bar-left-menu:hover .banner-bar-drop-option {
  opacity:1;
}
#banner-bottom-bar-right-menu:hover .banner-bar-drop-option {
  opacity:1;
}
#banner-bar-date-container {
  width:calc(100% - 6rem);
}
#banner-end-date-container {
  position:absolute;
  top:0;
  right:0;
}
